* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3 {
  font-weight: 600;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  padding: 1.5rem;
}

.section-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*********************** Header ***************************/
header {
  z-index: 1000;
  display: flex;
  height: 2rem;
  padding: 1.4rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
}

nav {
  display: none;
}

.numi-logo {
  height: 28px;
}

/********************** section 1*************************/
.section-1 {
  display: flex;
  padding-top: 4.5rem;
  flex-direction: column;
  background: radial-gradient(
    ellipse at bottom,
    rgb(228, 240, 242),
    transparent
  );
}

.main-img {
  width: 100%;
  height: auto;
}

.float-img {
  position: absolute;
  width: 63px;
  height: auto;
}

.section-1 img.float-1 {
  left: 140px;
  top: 68px;
}

.section-1 img.float-2 {
  top: 142px;
  left: 40px;
}

.main-heading {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
}

.section-1 p {
  position: relative;
  font-size: 1.1rem;
  text-align: center;
  color: #342929;
  font-weight: 500;
  margin: 1rem 0;
}

.btn {
  padding: 0.6rem;
  border: none;
  width: 240px;
  background: none;
  margin: 0 auto;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 2.5rem;
}

.btn--black {
  color: white;
  background: black;
}

.btn--transparent {
  color: rgb(82, 84, 84);
}

/************************ section 2 *********************/
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 8rem;
  position: relative;
  background: radial-gradient(ellipse at top, rgb(228, 240, 242), white);
}

.section-2 .float-1 {
  top: 450px;
  left: 45px;
}
.section-2 .float-2 {
  top: 360px;
  left: 285px;
}

.section-2 h2 {
  font-size: 1.75rem;
}

.section-2 h3 {
  color: rgb(43, 43, 43);
  font-size: 1.2rem;
}

.section-2 p {
  color: rgb(74, 74, 74);
  font-weight: 500;
  font-size: 1.08rem;
}

/******************section -3*************************** */
.section-3 {
  padding-top: 10rem;
  /* background: radial-gradient(ellipse at top, transparent, rgb(228, 240, 242)); */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(232, 240, 242),
    rgb(232, 240, 242),
    transparent
  );
}

.section-3 h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 4.3rem;
}

.section-3 .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.features .feature {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  justify-content: center;
  align-items: center;
}

.feature-num {
  font-size: 3.5rem;
  font-weight: 600;
  color: #2b2b2b;
}

.feature-name {
  font-size: 1.25rem;
  color: #2b2b2b;
  font-weight: 600;
}

.feature-info {
  font-size: 1.06rem;
  color: rgb(71, 74, 74);
  font-weight: 500;
  text-align: center;
}

/************************ section 4 **********************/
.section-4 {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.section-4 h2 {
  font-size: 1.75rem;
  margin-top: 3rem;
}

.section-4 .flex-parent {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-4 h3 {
  color: #2b2b2b;
  font-size: 1.25rem;
}
.section-4 p {
  font-size: 1.075rem;
  color: rgb(74, 74, 74);
  font-weight: 500;
}

.btn--black--wide {
  width: 100%;
}
/**************** section-5 testimonials ******************/
.gradient-bf-testimonials {
  padding: 2rem 0;
  background: linear-gradient(
    to bottom,
    rgb(252, 253, 255),
    rgb(239, 222, 237)
  );
}

.gradient-aft-testimonials {
  padding: 2rem 0;
  background: linear-gradient(
    to bottom,
    rgb(226, 243, 250),
    rgb(252, 253, 255)
  );
}
.testimonials {
  background: linear-gradient(
    to bottom,
    rgb(239, 221, 237),
    rgb(226, 242, 250)
  );
  padding-bottom: 5rem;
}

.p--bigger {
  font-size: 1.08rem;
  font-weight: 500;
}

.testimonial-grid {
  display: grid;
  gap: 2rem;
}

.testimonial {
  background: white;
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
}

.testimonials h2 {
  text-align: center;
  padding: 3rem;
  font-size: 1.75rem;
  color: #3d3d3d;
}
.testimonial-main {
  flex-grow: 1;
}

.testimonial-main > img {
  display: block;
  margin-bottom: 1.25rem;
}

.testimonial-head {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.codestream-logo {
  max-width: 150px;
  max-height: 25px;
  position: relative;
  top: 12px;
}

.testimonial-head img {
  height: 50px;
  width: auto;
  align-items: center;
}

.testimonial-head + img {
  flex-grow: 2;
}

.testimonial-foot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.author-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-author {
  color: black;
  font-weight: 600;
}

.author-position {
  font-size: 0.9rem;
  font-weight: 500;
}
/********************** section 6 **************************/

.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-6 .main-img {
  width: 70%;
  height: auto;
}

.section-6 h2 {
  text-align: center;
  font-size: 1.75rem;
}
/*************************chat icon *************************/

.chat-widget {
  display: flex;
  background: #000;
  width: 45px;
  height: 40px;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
}

.chat-widget i {
  font-size: 2rem;
  color: white;
}

.chat-widget i:hover {
  cursor: pointer;
}
