* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.08rem;
  margin: 0rem 0rem 1rem;
  color: rgb(74, 74, 74);
}

.p--black {
  color: black;
}

.p--small {
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

.p--hero {
  color: rgb(52, 41, 41);
}
li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: rgb(43, 43, 43);
}

section,
footer {
  padding: 4.5rem 1.5rem;
}

.btn {
  padding: 0.6rem;
  border: none;
  width: 15rem;
  background: none;
  margin: 0 auto;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 2.5rem;
}

.btn--black {
  color: white;
  background: black;
}

.btn--transparent {
  color: rgb(82, 84, 84);
}

.btn--black--wide {
  width: 100%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-small-img {
  width: 25px;
  height: auto;
  display: block;
  margin: 0.5rem auto;
}

.center {
  text-align: center;
}

.main-img {
  width: 100%;
  height: auto;
}

.float-img {
  position: absolute;
  width: 63px;
  height: auto;
}

.section-img {
  position: relative;
}

/*********************** Header ***************************/
header {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
}

.header-wrapper {
  height: 2rem;
  padding: 1.4rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: none;
}

.numi-logo {
  height: 28px;
}

/********************** section 1*************************/
#section-1 {
  /* padding-top: 4.5rem; */
  background: radial-gradient(
    ellipse at bottom,
    rgb(228, 240, 242),
    transparent
  );
}

#section-1 img.float-1 {
  right: 130px;
  top: -50px;
}

#section-1 img.float-2 {
  top: 35px;
  left: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/************************ section 2 *********************/
#section-2 {
  padding-top: 8rem;
  background: radial-gradient(ellipse at top, rgb(228, 240, 242), white);
}

#section-2 .float-1 {
  top: 270px;
  left: 0px;
}
#section-2 .float-2 {
  top: 230px;
  right: 20px;
}

/******************section -3*************************** */
#section-3 {
  padding-top: 10rem;
  /* background: radial-gradient(ellipse at top, transparent, rgb(228, 240, 242)); */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(232, 240, 242),
    rgb(232, 240, 242),
    transparent
  );
}

#section-3 h2 {
  margin-bottom: 3.5rem;
}

.features {
  gap: 1.5rem;
}

.feature {
  gap: 0rem;
}

.features p {
  margin-bottom: 0.5rem;
}

.feature-num,
.feature-name {
  font-weight: 600;
  color: #2b2b2b;
}

.feature-num {
  font-size: 3.25rem;
}

.feature-name {
  font-size: 1.25rem;
}

.feature-info {
  font-size: 1.06rem;
  color: rgb(71, 74, 74);
}

/************************ section 4 **********************/
#section-4 {
  padding-top: 8rem;
  /* padding-bottom: 3rem; */
}

#section-4 h2 {
  margin: 1.5rem 0rem;
}

#section-4 .section-content {
  align-items: flex-start;
}

.stylish-p {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}

/**************** section-5 testimonials ******************/
.gradient-bf-testimonials {
  padding: 3rem 0;
  background: linear-gradient(
    to bottom,
    rgb(252, 253, 255),
    rgb(239, 222, 237)
  );
}

.gradient-aft-testimonials {
  padding: 3rem 0;
  background: linear-gradient(
    to bottom,
    rgb(226, 243, 250),
    rgb(252, 253, 255)
  );
}

.testimonials {
  background: linear-gradient(
    to bottom,
    rgb(239, 221, 237),
    rgb(226, 242, 250)
  );
}

.testimonial-grid {
  display: grid;
  gap: 2rem;
}

.testimonial {
  background: white;
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
}

.testimonials h2 {
  text-align: center;
  padding: 3rem;
  color: #3d3d3d;
}
.testimonial-main {
  flex-grow: 1;
}

.testimonial-main > img {
  display: block;
  margin-bottom: 1.25rem;
}

.testimonial-head {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.codestream-logo {
  max-width: 150px;
  max-height: 25px;
  position: relative;
  top: 12px;
}

.testimonial-head img {
  height: 50px;
  width: auto;
  align-items: center;
}

.testimonial-head + img {
  flex-grow: 2;
}

.testimonial-foot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.author-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-author {
  color: black;
  font-weight: 600;
}

.author-position {
  font-size: 0.9rem;
}
/********************** section 6 **************************/

#section-6 .main-img {
  scale: 0.75;
}

/*************************chat icon *************************/

.chat-widget {
  display: flex;
  background: #000;
  width: 60px;
  height: 60px;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 1.1rem;
  right: 1rem;
  border-radius: 50%;
}

.chat-widget i {
  font-size: 2rem;
  color: white;
}

.chat-widget i:hover {
  cursor: pointer;
}

.chat-widget i:hover::before {
  content: "\f00d";
}

/* ************************** footer ***************************/

footer {
  padding-bottom: 0.75rem;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 1rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-link,
.footer-name {
  color: rgb(84, 84, 84);
  font-weight: 500;
  font-size: 1.1rem;
}

.footer-name {
  font-size: 1.05rem;
}

.footer-email {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.social-icon {
  color: rgb(84, 84, 84);
  font-size: 1.75rem;
}

.social-icons {
  display: flex;
  justify-self: center;
  /* align-items: center; */
  gap: 0.9rem;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 24%;
  height: auto;
}

.img-award3 {
  width: 22%;
}

.email-capsule {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

input[type="email"] {
  padding: 1rem 1rem;
  background: none;
  border: 1px solid black;
  font-family: inherit;
  height: 40px;
  font-size: 0.8rem;
  border-radius: 40px 0px 0px 40px;
  width: 75%;
  font-weight: 500;
  color: black;
}

input:focus {
  outline: none !important;
  border-color: cyan;
}

.email-submit {
  border-radius: 0px 40px 40px 0px;
  font-weight: 600;
  width: 25%;
}

footer p.p--black {
  margin-bottom: 0;
  font-size: 1rem;
}
/*************** media queries ********************/

@media screen and (min-width: 480px) {
  #section-1 {
    background: linear-gradient(to right, pink, cyan);
  }

  .testsection-wrapper,
  .section-wrapper,
  .header-wrapper,
  #footer-wrapper {
    min-width: 80%;
    margin: 0 auto;
  }

  .buttons {
    flex-direction: row;
    justify-content: flex-start;
  }

  #section-1 .buttons button:nth-child(1) {
    width: 110px;
  }

  #section-1 .main-img {
    max-width: 100%;
    min-height: 450px;
  }

  #section-1 .buttons button:nth-child(2) {
    width: 150px;
  }

  #section-2 .section-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  #section-2 .section-content div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #section-3 .section-wrapper {
    flex-direction: column;
  }

  #section-3 .features {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }
  #section-3 .features > * {
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #section-3 .feature {
    justify-content: center;
    align-items: center;
  }

  #section-3 .feature p {
    text-align: center;
  }

  #section-4 button {
    align-self: flex-start;
  }

  #section-4 .btn {
    width: 140px;
    margin-left: 0px;
  }

  #section-4 .section-wrapper div:nth-child(2) {
    align-self: flex-start;
  }

  #section-6 .buttons button:nth-child(1) {
    width: 110px;
  }
  #section-6 .buttons button:nth-child(2) {
    width: 150px;
  }
}

@media screen and (min-width: 480px) and (max-width: 990px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  li {
    font-size: 1.25rem;
  }

  .p--small {
    font-size: 1rem;
  }

  footer .p--black {
    font-size: 1.1rem;
  }

  #footer-wrapper .footer-main {
    align-self: flex-start;
  }

  #section-1 .main-img {
    margin-top: 3rem;
    width: 575px;
  }

  .float-img {
    width: 125px;
    height: auto;
  }

  #section-1 img.float-1 {
    right: 230px;
    top: 2px;
  }

  #section-1 img.float-2 {
    top: 120px;
    left: 0px;
  }

  #section-2 .float-1 {
    top: 320px;
    left: -50px;
  }
  #section-2 .float-2 {
    top: 320px;
    right: -20px;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  .testsection-wrapper,
  .section-wrapper,
  .header-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
  }

  .section-wrapper {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .section-wrapper > * {
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .center {
    text-align: left;
  }

  #section-1 .section-wrapper {
    padding-top: 4rem;
  }

  #section-1 .section-content {
    align-items: flex-start;
    padding: 3rem 0;
  }

  #section-1 .section-img {
    order: 1;
  }

  #section-1 .main-img {
    height: 450px;
  }

  #section-2 .main-img {
    height: 650px;
  }

  #section-3 .section-wrapper {
    flex-direction: column;
  }
  #section-4 .section-img {
    order: 1;
  }

  #section-4 .main-img {
    height: 650px;
  }

  #section-6 h2 {
    font-size: 2.5rem;
  }

  #section-6 .section-content {
    flex-direction: column;
    align-items: flex-start;
  }

  footer > div#footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .footer-main {
    gap: 5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-email .email-capsule {
    width: 90%;
    align-self: flex-end;
  }

  .footer-logo {
    width: 18%;
  }

  .img-award3 {
    width: 17%;
  }

  .footer-logos {
    justify-content: center;
    gap: 3rem;
  }

  header .mobile-menu {
    display: none;
  }

  .header-wrapper {
    justify-content: space-between;
  }

  nav .header-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  nav .header-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .header-btn {
    border-radius: 20px;
    font-weight: 600px;
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
  }

  .header-btn--gradient {
    background: linear-gradient(
      to right,
      rgb(127, 203, 233),
      rgb(219, 121, 183)
    );
    border: transparent;
    color: white;
  }

  header li {
    color: rgba(0, 0, 0, 0.66);
    font-weight: 600;
  }

  header li:hover {
    color: rgba(0, 0, 0, 0.9);
  }

  .float-img {
    width: 150px;
    height: auto;
  }

  #section-1 img.float-1 {
    right: 290px;
    top: -100px;
  }

  #section-1 img.float-2 {
    top: 20px;
    left: 50px;
  }

  #section-2 .float-1 {
    top: 320px;
    left: 50px;
  }
  #section-2 .float-2 {
    top: 320px;
    right: 80px;
  }
}

@media screen and (min-width: 2560px) {
  .main-img {
    scale: 1.5;
  }

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }

  p,
  li {
    font-size: 2.25rem;
  }

  .btn {
    padding: 1em;
    font-size: 2rem;
  }

  #section-1 {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section-1 .section-wrapper {
    height: 100%;
  }

  #section-1 .buttons button:nth-child(1) {
    width: 100%;
  }

  #section-1 .buttons button:nth-child(2) {
    width: 100%;
  }

  #section-6 .buttons button:nth-child(1) {
    width: 100%;
  }

  #section-6 .buttons button:nth-child(2) {
    width: 100%;
  }

  #section-4 .btn {
    width: 20rem;
  }

  .buttons {
    min-width: 75%;
  }

  .feature-info {
    font-size: 2.5rem;
  }

  .feature-name {
    font-size: 3.5rem;
  }

  .feature-num {
    font-size: 6.5rem;
  }
  .testsection-wrapper,
  .section-wrapper,
  .header-wrapper,
  #footer-wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .header-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .testimonial-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  p.p--bigger {
    font-size: 2.35rem;
  }

  .author-position {
    font-size: 2.05rem;
  }

  .testimonial-author {
    font-size: 2.75rem;
  }

  .footer-link,
  .footer-name {
    color: rgb(84, 84, 84);
    font-weight: 500;
    font-size: 2.5rem;
  }

  .footer-name {
    font-size: 2.45rem;
  }
  p.p--small {
    font-size: 2rem;
  }

  footer p.p--black {
    font-size: 2.75rem;
  }

  input[type="email"] {
    height: 100%;
    padding: 1em;
    font-size: 2rem;
    margin-right: -4rem;
  }

  #section-6 h2 {
    font-size: 4rem;
  }
}

/* animation stuff */
#section-1 h1 {
  animation: 1s ease-in 0s 1 slideInFromBottom;
}
#section-1 .p--hero {
  animation: 1500ms ease-in 0s 1 slideInFromBottom;
}
#section-1 .buttons {
  animation: 2s ease-in 0s 1 slideInFromBottom;
}
#section-1 .main-img {
  animation: 3s ease-in 0s 1 slideInFromBottom;
}
#section-1 .float-1 {
  animation: 3500ms ease-in 0s 1 slideInFromBottom;
}
#section-1 .float-2 {
  animation: 3600ms ease-in 0s 1 slideInFromBottom;
}

@keyframes animate-gradient {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* applying gradient background */
#section-1 {
  background: linear-gradient(-45deg, pink, transparent, cyan);
  animation: bg-animation 15s infinite alternate-reverse;
  background-size: 300%;
}

@keyframes bg-animation {
  0% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 50%;
  }
}
